header {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    background-color: green;
    padding: 25px;
    margin: 0;
}

.nav_items {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    padding: 10px;
    margin-top: 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.contact_form {
    display: flex;
    flex-direction: column;

}
.contact_form button {
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}